$glo-primary-1: #0e926c;
$glo-primary-2: #0fa67a;
$glo-primary-3: #616bc8;
$glo-neutral-1: #000000;
$glo-neutral-2: #1e1f2d;
$glo-neutral-3: #272837;
$glo-neutral-4: #2a2a41;
$glo-neutral-5: #ffffff;
$glo-neutral-orange: #f99d2d;
$auth-container-border:rgba(42, 42, 65, 0.1);
$auth-button-border: rgba(42, 42, 65, 0.2);
$sign-up-shadow-color: rgba(10, 117, 86, 0.3);
$not-authenticated-header-block-box-shadow: #3a3d6a;
$hexagon-color-gold-1: #ffd700;
$hexagon-color-gold: #f3af04;
$hexagon-gold: #fcbb19;
$hexagon-silver: #525262;
$hexagon-bronze: #f1a12e;
$hexagon-size-medium: 40px;
$hexagon-size-small: 30px;
$hexagon-inner-medium: 35px;
$hexagon-inner-small: 25px;
$searchbar-background: rgba(255, 255, 255, 0.05);
$score-board-background: rgba(255, 255, 255, 0.03);
$score-board-background-hover: rgba(255, 255, 255, 0.1);
$user-figure-background-color: rgba(255, 255, 255, 0.15);
$tripple-dot-dropdown-trigger: rgba(255, 255, 255, 0.07);
$dropdown-shadow: rgba(42, 42, 65, 0.15);
$orange-button-shadow-color: #ad6d1f;
$gift-modal-background: #2a2b38;
$input-white-background: #f0f2f6;
$gift-input-color: #778498;
$logout: #ec3f20;
$inner-hexagon-color: #1a5c52;
$edit-image-profile-color: rgba(30, 31, 45, 0.5);
$store-card-background: rgba(229, 231, 255, 0.05);